# Cache objects
**/packer_cache

# Crash log
crash.log

# For built boxes
**/*.box

# Artefacts
**/packer_output
**/output-*

# Vagrant
**/.vagrant
vagrant/**/config.yaml
vagrant/**/extras


# Private content
**/authorized_keys*

# Misc
tags
